@charset "UTF-8";
/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*fuentes*/
@font-face {
  font-family: acme;
  src: url(/scss/vistas/multimedia/Acme/Acme-Regular.ttf); }

@font-face {
  font-family: Courgette;
  src: url(/scss/vistas/multimedia/Courgette/Courgette-Regular.ttf); }

@font-face {
  font-family: JosefinSans;
  src: url(/scss/vistas/multimedia/Josefin_Sans/JosefinSans-VariableFont_wght.ttf); }

@font-face {
  font-family: JosefinSans-italic;
  src: url(/scss/vistas/multimedia/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf); }

@font-face {
  font-family: LaBelleAurore;
  src: url(/scss/vistas/multimedia/La_Belle_Aurore/LaBelleAurore-Regular.ttf); }

@font-face {
  font-family: Kalam-Regular;
  src: url(/scss/vistas/multimedia/Kalam/Kalam-Regular.ttf); }

@font-face {
  font-family: TitanOne;
  src: url(/scss/vistas/multimedia/Titan_One/TitanOne-Regular.ttf); }

@font-face {
  font-family: RubikGemstones;
  src: url(/scss/vistas/multimedia/Rubik_Gemstones/RubikGemstones-Regular.ttf); }

/*INDEX-HTML*/
/*HEADER*/
.contenedor {
  background-image: url(/scss/vistas/multimedia/background-head.jpg);
  display: flex;
  justify-content: space-between;
  height: 80px; }
  .contenedor__titulo {
    text-decoration: none;
    font-family: acme;
    color: orangered;
    font-size: 50px;
    padding-left: 5px;
    transition: 1s; }
    .contenedor__titulo:hover {
      color: #ff5e00;
      transform: scale(1.1); }
  .contenedor__subtitulo {
    font-family: Courgette;
    color: #f5d400;
    font-size: 12px;
    transform: rotate(-35deg);
    margin: 25px; }
  .contenedor__buscador {
    font-family: Courgette;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    transition: 0.5s;
    margin: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.295); }
    .contenedor__buscador:hover::placeholder {
      box-shadow: 0 0 15px #8cff00; }
    .contenedor__buscador::placeholder {
      color: #ff5e00; }
  .contenedor__carrito {
    width: 50px;
    height: 50px;
    transition: 0.8s; }
    .contenedor__carrito:hover {
      transform: translatey(-9px); }

/*NAVBAR*/
/*NAVBAR*/
.nav-contenedor {
  justify-content: space-evenly;
  background-color: black;
  display: flex; }
  .nav-contenedor__pestañas-link {
    text-decoration: none;
    color: orangered;
    background-color: black;
    transition: 1s;
    padding: 0 5px; }
    .nav-contenedor__pestañas-link:hover {
      background-color: red;
      color: pink;
      box-shadow: 0 0 20px 5px black;
      border-radius: 100px;
      transform: scale(1.2) translatey(-7px); }

/*IMAGEN-PRINCIPAL*/
.imagen-principal {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .imagen-principal__img {
    height: 600px;
    width: 1300px;
    background-size: auto; }

/*TARJETAS*/
.tarjeta_contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: whitesmoke; }
  .tarjeta_contenedor .tarjeta {
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.427);
    border-radius: 35px; }
    .tarjeta_contenedor .tarjeta__cuerpo {
      text-align: center; }
      .tarjeta_contenedor .tarjeta__cuerpo-titulo {
        font-size: 30px;
        color: red; }
      .tarjeta_contenedor .tarjeta__cuerpo-texto {
        margin: 30px 10px;
        color: black; }
      .tarjeta_contenedor .tarjeta__cuerpoa {
        margin: 20px; }
    .tarjeta_contenedor .tarjeta .card-img-top {
      border-radius: 30px; }

/*CARRUSEL*/
.carrusel_contenedor-titulo {
  color: greenyellow;
  text-align: center;
  background-color: chocolate; }

.carrusel_contenedor .carouselExampleInterval {
  border-radius: 50px;
  background-color: black; }

/*TARJETAS-INSTAGRAM*/
.seguinos__instagram-titulo {
  color: red;
  text-align: center;
  background-color: yellowgreen;
  font-size: 2.5rem;
  padding: 5px 0px; }

.seguinos__instagram__tarjeta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: whitesmoke;
  text-align: center;
  background-size: contain; }
  .seguinos__instagram__tarjeta-card-img-top {
    border-radius: 30px;
    height: 17rem;
    margin: 20px; }
    .seguinos__instagram__tarjeta-card-img-top:hover {
      box-shadow: 0 0 20px 20px black; }

/*FOOTER*/
.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-image: url(/scss/vistas/multimedia/foter-img.jpg);
  background-size: contain; }
  .footer__suscribite {
    text-align: center; }
    .footer__suscribite-titulo {
      font-family: acme;
      color: greenyellow; }
    .footer__suscribite-subtitulo {
      color: blueviolet; }
    .footer__suscribite-boton {
      color: red; }
  .footer__logo a {
    font-size: 50px;
    padding: 20px 30px; }
