@charset "UTF-8";
/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*fuentes*/
@font-face {
  font-family: acme;
  src: url(/scss/vistas/multimedia/Acme/Acme-Regular.ttf); }

@font-face {
  font-family: Courgette;
  src: url(/scss/vistas/multimedia/Courgette/Courgette-Regular.ttf); }

@font-face {
  font-family: JosefinSans;
  src: url(/scss/vistas/multimedia/Josefin_Sans/JosefinSans-VariableFont_wght.ttf); }

@font-face {
  font-family: JosefinSans-italic;
  src: url(/scss/vistas/multimedia/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf); }

@font-face {
  font-family: LaBelleAurore;
  src: url(/scss/vistas/multimedia/La_Belle_Aurore/LaBelleAurore-Regular.ttf); }

@font-face {
  font-family: Kalam-Regular;
  src: url(/scss/vistas/multimedia/Kalam/Kalam-Regular.ttf); }

@font-face {
  font-family: TitanOne;
  src: url(/scss/vistas/multimedia/Titan_One/TitanOne-Regular.ttf); }

@font-face {
  font-family: RubikGemstones;
  src: url(/scss/vistas/multimedia/Rubik_Gemstones/RubikGemstones-Regular.ttf); }

a {
  text-decoration: none; }

/*INDEX-HTML*/
/*HEADER*/
.header__container {
  background-image: url(/scss/vistas/multimedia/background-head.jpg);
  background-size: auto;
  display: flex;
  align-items: center;
  padding-left: 35px;
  height: 5rem;
  align-content: space-around;
  justify-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap; }
  .header__container-titulo {
    margin-top: 2rem;
    color: orangered;
    font-family: acme;
    font-size: 3rem;
    transition: 1s;
    padding-right: 90px; }
    .header__container-titulo:hover {
      color: whitesmoke;
      transform: scale(1.2); }
  .header__container-subtitulo {
    color: yellow;
    font-family: Courgette;
    font-size: 15px;
    transform: rotate(347deg);
    text-align: end;
    margin-top: 14px;
    margin-right: 29px; }
  .header__container-buscador {
    height: 2rem;
    width: auto;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(128, 128, 128, 0.288);
    transition: 1s; }
    .header__container-buscador::placeholder {
      color: orangered;
      text-align: center;
      font-family: Courgette; }
    .header__container-buscador:hover {
      box-shadow: 0 0 20px 5px greenyellow; }
  .header__container-carrito {
    height: 5rem;
    transition: 1s; }
    .header__container-carrito:hover {
      transform: translateY(-8px); }

/*NAVBAR*/
/*NAVBAR*/
.nav-contenedor {
  justify-content: space-evenly;
  background-color: black;
  display: flex; }
  .nav-contenedor__pestañas-link {
    color: orangered;
    transition: 1s;
    font-size: 15px;
    font-family: 'JosefinSans';
    font-weight: 100; }
    .nav-contenedor__pestañas-link:hover {
      background-color: aqua;
      box-shadow: 0 0 20px red; }

/*IMAGEN-PRINCIPAL*/
.imagen-principal {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .imagen-principal__img {
    height: 600px;
    width: 1300px;
    background-size: auto; }

/*TARJETAS*/
.tarjeta_contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: whitesmoke; }
  .tarjeta_contenedor .tarjeta {
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.427);
    border-radius: 35px; }
    .tarjeta_contenedor .tarjeta__cuerpo {
      text-align: center; }
      .tarjeta_contenedor .tarjeta__cuerpo-titulo {
        font-size: 30px;
        color: red; }
      .tarjeta_contenedor .tarjeta__cuerpo-texto {
        margin: 30px 10px;
        color: black; }
      .tarjeta_contenedor .tarjeta__cuerpoa {
        margin: 20px; }
    .tarjeta_contenedor .tarjeta .card-img-top {
      border-radius: 30px; }

/*CARRUSEL*/
.carrusel_contenedor-titulo {
  color: greenyellow;
  text-align: center;
  background-color: chocolate; }

.carrusel_contenedor .carouselExampleInterval {
  border-radius: 50px;
  background-color: black; }

/*TARJETAS-INSTAGRAM*/
.seguinos__instagram-titulo {
  color: red;
  text-align: center;
  background-color: yellowgreen;
  font-size: 2.5rem;
  padding: 5px 0px; }

.seguinos__instagram__tarjeta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: whitesmoke;
  text-align: center;
  background-size: contain; }
  .seguinos__instagram__tarjeta-card-img-top {
    border-radius: 30px;
    height: 17rem;
    margin: 20px; }
    .seguinos__instagram__tarjeta-card-img-top:hover {
      box-shadow: 0 0 20px 20px black; }

/*FOOTER*/
.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-image: url(/scss/vistas/multimedia/foter-img.jpg);
  background-size: contain; }
  .footer__suscribite {
    text-align: center; }
    .footer__suscribite-titulo {
      font-family: acme;
      color: greenyellow; }
    .footer__suscribite-subtitulo {
      color: blueviolet; }
    .footer__suscribite-boton {
      color: red; }
  .footer__logo a {
    font-size: 50px;
    padding: 20px 30px; }
