.carrusel_contenedor{

    &-titulo{
        color: greenyellow;
        text-align: center;
        background-color: chocolate;
        margin-bottom: 0rem;
        font-family: "ACME";
        font-size: 27px;
        letter-spacing: 6px;
        padding-top: 4px;
        border-top: 2px solid darkkhaki;
        border-bottom: 2px solid darkkhaki;
    }

    .carouselExampleInterval{
        border-radius: 50px;
        background-color: black;
    }
}