*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*fuentes*/
@font-face {
    font-family: acme;
    src: url(/scss/vistas/multimedia/Acme/Acme-Regular.ttf);
}
@font-face {
    font-family: Courgette;
    src: url(/scss/vistas/multimedia/Courgette/Courgette-Regular.ttf);
}
@font-face {
    font-family: JosefinSans;
    src: url(/scss/vistas/multimedia/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: JosefinSans-italic;
    src: url(/scss/vistas/multimedia/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: LaBelleAurore;
    src: url(/scss/vistas/multimedia/La_Belle_Aurore/LaBelleAurore-Regular.ttf);
}
@font-face {
    font-family: Kalam-Regular;
    src: url(/scss/vistas/multimedia/Kalam/Kalam-Regular.ttf);
}
@font-face {
    font-family: TitanOne;
    src: url(/scss/vistas/multimedia/Titan_One/TitanOne-Regular.ttf);
}
@font-face {
    font-family: RubikGemstones;
    src: url(/scss/vistas/multimedia/Rubik_Gemstones/RubikGemstones-Regular.ttf);
}
a{
    text-decoration: none;
}
ol,
ul,
dl {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0rem;
}

#active-pag{
    color: yellow;
                border: 1px solid #b4cd32;
                box-shadow: 0px 0px 25px yellowgreen;
}

.responsive{
    width: 100%;
    max-width: 1250px;
    overflow: hidden;
}

@media (prefers-reduced-motion: reduce){
.nav-link {
    transition: 0.3s;
    color: #141619;
    font-family: "acme";
    &:hover{
        color: #ff568c;
    }
}

}

@media(min-width:992px){
    .navbar-brand{
        display: none;
        margin-top: 30px;
        padding: 0px;
    }
    .header__container-titulo{
            &:hover {
            color: #f1079e;
            transform: scale(0);
            }
    }
    .navbar-expand-lg .navbar-collapse{
        justify-content: center;
        background-color: #ff558bd1;
        margin: -10px;
        font-size: 1rem;
        &:hover{
            color: red;
        }
    }
    .tarjeta_contenedor .tarjeta .card-img-top{
        height: 1rem;
    }
}

@media(max-width:991px){
    .header__container{
        margin: -80px;
        &-titulo {
            color: red;
        }
    }
    .navbar{
        margin-top: 30px;
        padding: 0px;
    }
}
.navbar-brand {
    margin-bottom: -20px;
}
@media(max-width:955px){
    .navbar-brand{
        margin: -36px 0px -20px -20px;
    }
    .header__container-titulo{
        font-size: 1rem;
        color: red;
    }
}
@media(max-width:920px){
    .navbar-brand{
        margin-bottom: -18px;
        margin-top: -21px;
        .header__container-titulo{
            font-size: 3rem;

        }
        .header__container-subtitulo{
            font-size: 12px;
            transition: 1s;
        }
    }

    .contenedor{
        height: 60px;
        justify-content: center;
    }
    .contenedor a{
        font-size: 20px;
        margin-top: -5px;
    }
    .contenedor h4{
        font-size: 10px;
        transform: rotate(-25deg);
        font-family: cursive;
        margin: 5px;

    }
    .contenedor input{
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px;
    }
    .contenedor img{
        width: 30px;
        height: 30px;
        margin: 0px;
    }

    nav{
        font-size: 15px;
    }
    nav a{
        font-size: 12px;
    }
}
@media(max-width:770px){
    .suscribite{
        font-size: 12px;
        padding-left: 5px;
    }
    .noso{

        font-size: 12px;
        padding-right: 5px;
    }
    .logo i{
        width: 30px;
        height: 30px;
        margin: 10px 10px;
    }
}
@media(max-width:730px){
    .navbar-brand{
        .header__container-titulo{
            font-size: 40px;
            margin-bottom: 20px;
        }
        .header__container-subtitulo{
            font-size: 10px;
            transition: 1s;
            margin-top: -10px;
            margin-right: 41px;
        }
        }

    .contenedor a{
        font-size: 18px;
        margin-top: -5px;
    }
    .contenedor h4{
        font-size: 8px;
        transform: rotate(-35deg);
        font-family: cursive;
        margin: 5px;

    }
    .contenedor input{
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        display: none;
    }
}
@media(max-width:635px){
    .navbar-brand{
        .header__container-titulo{
            font-size: 33px;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }
        .header__container-subtitulo{
            font-size: 9px;
            transition: 1s;
            margin-right: 67px;
            padding-bottom: 8px;
            margin-top: -21px;
        }
        }

}
@media(max-width:600px){
    .contenedor input{
        display: none;
    }
}

@media(max-width:550px){
    .navbar-brand{
        margin: -15px 0px -15px -30px;
        padding-right: 0;
        margin-top: -20px;
        .header__container-titulo{
            font-size: 25px;
            margin-top: 48px;
            margin-left: 25px;
            padding: 0px;

        }
        .header__container-subtitulo{
            font-size: 9px;
            margin-right: -20px;
            padding-bottom: 20px;
            margin-top: -14px;
            }
    }
    .nav-link{
        font-size: 10PX;
    }
    .contenedor{
        height: 50px;
    }
    .contenedor a{
        font-size: 15px;
        margin-top: -2px;
    }
    .contenedor h4{
        font-size: 6px;
        transform: rotate(-35deg);
        font-family: cursive;
        margin: 5px;

    }
    .footer{
        display: grid;
        justify-content: center;
        text-align: center;
    }
    .contenedormapa h2{
        font-size: 20px;
    }
    .mapa iframe{
        height: 250px;
        width: 220px;
    }
}
@media(max-width:460px){
    .header__container-titulo{
    padding-right: 0;
    font-size: 25px;
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 10px;
    }
    .header__container-subtitulo{
    margin-right: -20px;
    }
}
@media (max-width: 410px){
    .navbar-brand .header__container-subtitulo {
        font-size: 7px;
        margin-right: -20px;
        margin-top: -17px;
}
    .navbar-brand .header__container-titulo{
        font-size: 18px;
        margin-top: 25px;
        padding-top: 26px;
        margin-left: 20px;
}
}
@media(max-width:410px){
    .nuevo{
        transform: scale(1.5) translatey(-2px) ;
    }
    .contenedor{
        height: 50px;
    }
    .contenedor a{
        font-size: 12px;
    }
    .contenedor h4{
        font-size: 5px;
    }
    .contenedor img{
        width: 20px;
        height: 20px;
    }
    nav a{
        font-size: 7px;
    }



}