.header__container {
    background-image: url(/scss/vistas/multimedia/background-head.jpg);
    background-size: auto;
    display: flex;
    align-items: center;
    padding-left: 35px;
    height: 5rem;
    align-content: space-around;
    justify-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    &-titulo{
        margin-top: 2rem;
        color: orangered;
        font-family: acme;
        font-size: 3rem;
        transition: 1s;
        padding-right: 90px;
        &:hover{
            color: whitesmoke;
            transform: scale(1.2);
        }
    }
    &-subtitulo{
        color: yellow;
        font-family: Courgette;
        font-size: 15px;
        transform: rotate(347deg);
        text-align: end;
        margin-top: 14px;
        margin-right: 29px;
    }
    &-buscador{
        height: 2rem;
        width: auto;
        border-radius: 20px;
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(128, 128, 128, 0.288);
        transition: 1s;
        &::placeholder{
            color: orangered;
            text-align: center;
            font-family: Courgette;
        }
        &:hover{
            box-shadow: 0 0 20px 5px greenyellow;
        }
    }
    &-carrito{
        height: 5rem;
        transition: 1s;
        &:hover{
            transform:translateY(-8px);
            border: 1px solid #bfff0000;
        }
        &:active{
            border: 1px solid red;
            color: red;
            font-family: "acme";
        }
    }
}