.contenedor{
    background-image: url(/scss/vistas/multimedia/background-head.jpg);
    display: flex;
    
    
    &__titulo{
        font-family: acme;
        color: orangered;
        font-size: 50px;
        padding-left: 5px;
        transition: 1s;

            &:hover{
                color: rgb(255, 94, 0);
                transform: scale(1.1);
            }
    }

    &__subtitulo{
        font-family: Courgette;
        color: rgb(245, 212, 0);
        font-size: 12px;
        transform: rotate(-35deg);
        margin: 15px;
    }
    &__buscador{
        font-family: Courgette;
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 10px;
        transition: 0.5s;
        margin: 20px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.295);
        
        &:hover::placeholder{
            box-shadow: 0 0 15px rgb(140, 255, 0);
        }
        &::placeholder{
            color: rgb(255, 94, 0); 
        }
    }

    &__carrito{
        width: 50px;
        height: 50px;
        transition: 0.8s;

        &:hover{
            transform: translatey(-9px);
        }
    }
}