// HEADER//
.header__container {
    background-image: url(/scss/vistas/multimedia/backgrounds/background-header.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 35px;
    height: 8rem;
    align-content: space-around;
    justify-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    &-titulo{
        color: #ff568c;
        font-family: "JosefinSans";
        font-size: 4rem;
        transition: 1s;
        padding-right: 5rem;
        margin-top: 3rem;
        margin-left: 1rem;
        &:hover{
            color: #f1079e;
            transform: translate3d(0px, -5px, -10px);
        }
    }
    &-subtitulo{
        color: black;
        font-weight: revert;
        font-family: Courgette;
        font-size: 16px;
        transform: rotate(354deg);
        text-align: end;
        margin-right: 30px;
    }
    &-buscador{
        height: 2rem;
        width: auto;
        border-radius: 20px;
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(128, 128, 128, 0.288);
        transition: 1s;
        &::placeholder{
            color: orangered;
            text-align: center;
            font-family: Courgette;
        }
        &:hover{
            box-shadow: 0 0 20px 5px greenyellow;
        }
    }
    &-carrito{
        height: 5rem;
        transition: 1s;
        &:hover{
            transform:translateY(-8px);
            border: 1px solid #bfff0000;
        }
        &:active{
            border: 1px solid red;
            color: red;
            font-family: "acme";
        }
    }
}
// NAVBAR //
.navbar{
    &-brand{
        margin-bottom: -40px;
    }
}

.navbar-toggler{
    &:hover{
        box-shadow: 0 0px 15px 2px #ff568c;
        transition: 0.5s;
    }
    color: #ff568c;
}
.container-fluid{
    background-image: url(/scss/vistas/multimedia/backgrounds/background-header.jpg);
}

.nav-item__icon{
    width: 2rem;
    height: 2rem;
}

.nav-contenedor{
    color: red;
    background-color: mediumvioletred;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;

    &__pestañas{
        &-link{
            color: orangered;
            font-size: 15px;
            font-family: 'JosefinSans';
            transition: 1s;
            padding: 3px 10px 0px 10px;
            position: sticky;

            &:hover{
                color: yellow;
                border: 1px solid #b4cd32;
                box-shadow: 0px 0px 25px yellowgreen;
            }
        }
        
    }
    
}
.nav-link{
    justify-content: flex-end;
    display: flex;
    &:hover{
        color: #ffffff;
        transition: 0.5;
    }
}

.navbar-nav .dropdown-menu {
    position: static;
    font-family: 'Courgette';
}
.dropdown-item{
    font-size: 10px;
}
body {
    line-height: inherit;
}
.navbar-brand {
    margin-bottom: 0;
    margin-bottom: -30px;
    margin-top: -25px;
}
// IMAGEN-PRINCIPAL//
.imagen-principal {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__img{
        height: 100%;
        width: 100%;
        --bs-gutter-x: 0rem;
    }
}
// TARJETAS//
.tarjeta_contenedor{
    display: flex;
    background-image: url(/scss/vistas/multimedia/backgrounds/backgrounds-9.jpg);
    background-attachment: fixed;
    background-size: contain;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    .tarjeta{
        width: 18rem;
        margin: 30px 80px;
        background-image: url(/scss/vistas/multimedia/backgrounds/backgrounds-4.jpg);
        background-size: cover;
        background-position: bottom;
        border-radius: 15px;
        transition: 1s;
        border: solid 1px #d57ace;
        &:hover{
            box-shadow: 0 0px 30px #fb709c;
        }

        &__cuerpo{
            text-align: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            &-titulo{
                font-size: 30px;
                color: #ff568c;
                font-family: 'JosefinSans';
                margin-top: 10px;
            }
            &-texto{
                padding: 2px 20px 2px 20px;
                color: black;
                margin-bottom: 0rem;
                font-family: "Kalam-Regular";
                height: 90px;
            
            }
            .btn-warning{
                font-family: 'acme';
                margin: 20px 30px;
                transition: 1s;
                --bs-btn-bg: #ff568c;
                --bs-btn-border-color: #ed0083;
                &:hover{
                    color: black;
                    background-color: #ffc107;
                    border-color: #ffc107;
                    box-shadow: #f44336 0px 0px 15px 5px;
                }
            }
        }
        

    .card-img-top{
        border-radius: 15px 15px 0px 0px;
        height: 340px;
    }
    }
}
// CARRUSEL //
.carrusel_contenedor{

    &-titulo{
        color: greenyellow;
        text-align: center;
        background-color: chocolate;
        margin-bottom: 0rem;
        font-family: "ACME";
        font-size: 27px;
        letter-spacing: 6px;
        padding-top: 4px;
        border-top: 2px solid darkkhaki;
        border-bottom: 2px solid darkkhaki;
    }

    .carouselExampleInterval{
        border-radius: 50px;
        background-color: black;
    }
}
// TARJETAS-INSTAGRAM //
.seguinos__instagram{
    &-titulo{
        color: greenyellow;
        text-align: center;
        background-color: chocolate;
        margin-bottom: 0rem;
        font-family: "ACME";
        font-size: 27px;
        letter-spacing: 6px;
        padding-top: 4px;
        border-top: 2px solid darkkhaki;
        border-bottom: 2px solid darkkhaki;
    }
    &__tarjeta{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        background-size: cover;   
        background-image: url(/scss/vistas/multimedia/backgrounds/back.jpg);

        &__contenedor{
            margin: 30px;
            padding: 10px 30px;
            border-radius: 15px;
            background-color: #00000030;
            width: 100%;

            &-subtitulo{
                font-family: "TitanOne";
                font-size: 3rem;
                letter-spacing: 1px;
                -webkit-text-fill-color: #e91e63;
                -webkit-text-stroke: 1px lightpink;
            }

            &-parrafo{
                font-family: 'acme';
                color: #ffffff;
                font-size: 20px;
            }
        }


        &-card-img-top{
            border-radius: 40px;
            height: 17rem;
            margin: 20px;
            transition: 0.5s;
        &:hover{
            box-shadow: 0 0 30px 10px #e91e63;
        }
    }   
    }  
}
// FOOTER //
.footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-image: url(/scss/vistas/multimedia/backgrounds/backgrounds-1.jpg);
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
    border-top: 1px solid $color1;

    &__suscribite{
        text-align: center;

        &-titulo{
            font-family: acme;
            color: greenyellow;
            margin-bottom: -5px;
            font-size: xx-large;
        }
        &-subtitulo{
            color: blueviolet;
            margin-bottom: 2px;
        }
        &-boton{
            background-color: #258aa8;
            padding: 0 12px;
            border: none;
            border-radius: 20px;
            font-family: 'Kalam-Regular';
            color: white;
            margin-top: 6px;
            transition: 1s;
            &:hover{
                box-shadow: 0 0 20px 10px blueviolet;
            }
        }
    }
    &__logo a{
        font-size: 50px;
    padding: 0px 40px;
    color: #607d8b;
    transition: 1s;

    &:hover{
        color: $color2;
        transform: scale(2,2);
    }
    }
    &__nosotros{
        color: $color2;
        font-family: "acme";
        font-size: 1.2rem;
        &-li{
            padding: 2px;
        }
    }

}
