/*NAVBAR*/
.nav-contenedor{
    justify-content: space-evenly;
    background-color: black;
    display: flex;

    &__pestañas{
        &-link{
            color: orangered;
            transition: 1s;
            font-size: 15px;
            font-family: 'JosefinSans';
            font-weight: 100;

            &:hover{
                background-color: aqua;
                
                box-shadow: 0 0 20px red;
            }
        }
        
    }
    
}