/*NAVBAR*/
.nav-contenedor{
    justify-content: space-evenly;
    background-color: black;

    &__pestañas{
        &-link{
            text-decoration: none;
            color: orangered;
            background-color: black;
            transition: 1s;
            padding: 0 5px;

            &:hover{
                background-color:red;
                color: pink;
                box-shadow: 0 0 20px 5px black;
                border-radius: 100px;
                transform: scale(1.2) translatey(-7px) ;
            }
        }
        
    }
    
}