.contenedor__paginaNuev{
    display: flex;
    background-image: url(/scss/vistas/multimedia/backgrounds/backgrounds-15.jpg);
    background-position: center;
    background-size: inherit;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    &-titulo{
        font-family: "TitanOne";
        letter-spacing: 1px;
        -webkit-text-fill-color: #ff0065;
        -webkit-text-stroke: 1px black;
        font-size: 50px;
        margin-bottom: 0;
        padding: 0px 100%;
        background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    }

}


.card-header-pills{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding:0px;

    &-img{
        height: 30px;
    }
}
.contenedor-tarjetas_nuevo{
    background-image: url(/scss/vistas/multimedia/backgrounds/backgrounds-15.jpg);
    background-size: inherit;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-body{
    width: 18rem;
    height: 14rem;
    padding: 0px;
    background-image: url(../vistas/multimedia/backgrounds/backgrounds-9.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p{
    margin-bottom: 0rem;
}
.nav-precios{
    
    &__antes{
        color: lightslategray;
        text-decoration: line-through;
    }
    &__ahora{
        font-size: 20px;
        color: rgb(57, 12, 163);
    }
    &__boton{
        margin: 1rem;
        transition: 1s;
        &:hover{
            box-shadow: 0 0 20px 10px $color2;
            color: $color1;
        }
    }
}
.card-title{
    color: $color1;
    font-family: "Kalam-Regular";
    margin-top: 3px;
    margin-bottom: 0px;
}
.card-subtitulo{
    color: #a22fff;
    text-decoration: underline;
    font-family: "Courgette";
    font-size: 25px;
}
.card-texto{
    font-family: "Courgette";

}
.nav img{
    height: 20rem;
    width: 15rem;
    border-radius: 10px;
}
.card-header:first-child{
    background-color: #ff000000;
    margin: -1px;
}
.text-center {
    background-image: url(/scss/vistas/multimedia/backgrounds/backgrounds-11.jpg);
    background-size: contain;
    margin: 40px 15px 40px 15px;
}