.tarjeta_contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(/scss/vistas/multimedia/backgrounds/backgrounds-4.jpg);
    background-size: contain;
    .tarjeta{
        margin: 50px;
        background-image: linear-gradient(to right, #fd0d8e26, #0000ff00,#fd0d8e26);
        border-radius: 35px;
        border-color: 10px solid black;

        &__cuerpo{
            text-align: center;

            &-titulo{
                font-size: 30px;
                color: red;
                
            }
            &-texto{
                margin: 30px 10px;
                color: rgb(0, 0, 0);
            }
            &a{
                margin: 20px;
            }
        }

    .card-img-top{
        border-radius: 30px;
        height: 320px;
    }
    }
}
