.seguinos__instagram{
    &-titulo{
        color: greenyellow;
        text-align: center;
        background-color: chocolate;
        margin-bottom: 0rem;
        font-family: "ACME";
        font-size: 27px;
        letter-spacing: 6px;
        padding-top: 4px;
        border-top: 2px solid darkkhaki;
        border-bottom: 2px solid darkkhaki;
    }
    &__tarjeta{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: whitesmoke;
        text-align: center;
        background-size: contain;   

        &-card-img-top{
            border-radius: 30px;
            height: 17rem;
            margin: 20px;
        &:hover{
            box-shadow: 0 0 20px 20px black;
        }
    }   
    }  
}