.tarjeta_contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: whitesmoke;

    .tarjeta{
        margin: 50px;
        background-color: rgba(0, 0, 0, 0.427);
        border-radius: 35px;

        &__cuerpo{
            text-align: center;

            &-titulo{
                font-size: 30px;
                color: red;
                
            }
            &-texto{
                margin: 30px 10px;
                color: rgb(0, 0, 0);
            }
            &a{
                margin: 20px;
            }
        }

    .card-img-top{
        border-radius: 30px;
    }
    }
}
