.tarjeta_contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(/scss/vistas/multimedia/backgrounds/backgrounds-8.jpg);
    background-attachment: fixed;
    background-size: contain;
    .tarjeta{
        margin: 80px;
        background-image: url(/scss/vistas/multimedia/backgrounds/backgrounds-2.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 35px;
        transition: 1s;

        &:hover{
            box-shadow: 0 0 50px 12px blueviolet;
        }

        &__cuerpo{
            text-align: center;

            &-titulo{
                font-size: 30px;
                color: #ffc107;
                font-family: 'LaBelleAurore';
                margin-top: 10px;
            }
            &-texto{
                padding: 0px 20px 0px 20px;
                color: whitesmoke;
                margin-bottom: 0rem;
                font-family: "Kalam-Regular";
            }
            .btn-warning{
                font-family: 'acme';
                margin: 20px 30px;
                transition: 1s;
                &:hover{
                    color: black;
                    background-color: #ffc107;
                    border-color: #ffc107;
                    box-shadow: #f44336 0px 0px 15px 5px;
                }
            }
        }

    .card-img-top{
        border-radius: 30px;
        height: 340px;
    }
    }
}
