.contenedor__paginaTop{
    display: flex;
    background: url(/scss/vistas/multimedia/backgrounds/backgrounds-13.jpg);
    background-position: center;
    background-size: inherit;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    &-titulo{
        font-family: "TitanOne";
        letter-spacing: 1px;
        -webkit-text-fill-color: #ff00f2;
        -webkit-text-stroke: 1px black;
        font-size: 50px;
        margin-bottom: 0;
        padding: 0px 100%;
        background: linear-gradient(217deg, rgba(0, 242, 255, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(221, 0, 255, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(10, 255, 178, 0.8), rgba(0,0,255,0) 70.71%);
    }
}
.contenedor-tarjetas_top{
    background-image: url(/scss/vistas/multimedia/backgrounds/backgrounds-13.jpg);
    background-size: inherit;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}